.bodys{
    background-image: url('src/image/rick-y-morty-en-el-espacio-6046.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}